/* Navigation */
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #171717;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #ECECEC;
}

.photography{
    grid-column: 1/2;
}

nav .logo{
    width: 250px;
    height: 100px;
    object-fit: cover;
    grid-column: 2/3;

}

.videography{
    grid-column: 3/4;
}

/* Body */

body{
    text-align: center;
}

/* Footer */
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

footer .logo{
    grid-column: 1/2;
    width: 250px;
    height: 100px;
    object-fit: cover;
}

footer .photography{
    grid-column: 2/3;
}

footer .othermedia{
    grid-column: 3/4;
}