* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation */
header{
    background-color: #171717;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #bb7fe9;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #ECECEC;
}

.photography{
    grid-column: 1/2;
}

nav .logo{
    width: 300px;
    height: 100px;
    object-fit: cover;
    grid-column: 2/3;

}

.videography{
    grid-column: 3/4;
}

/* Body */

body{
    text-align: center;
    background-color: #171717;
    color: #ECECEC;
}

/* Accordian */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* Footer */
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

footer .logo{
    grid-column: 1/2;
    width: 300px;
    height: 100px;
    object-fit: cover;
}

footer .photography{
    grid-column: 2/3;
}

footer .othermedia{
    grid-column: 3/4;
}